// Big Button

.big-button {
  background: $purple;
  border: none;
  // SCSS has pre-defined functions and can return values
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled{
  opacity: .5;
}

// Button
.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

// BEM M=modifier to modify the class (button) using modifier naming convention
// we want a link version of our button so we named it link ( just a name) 
.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

// for larger screens
@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}