// partical scss file

// rem pixels - better for accessibilty - 1 rem = 16 px and font-size set to 62.5% so 1 rem = 10px
html {
  font-size: 62.5%;
}

// // TODO: dark-blue with value of #333745
// // TODO: use as body background

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6; // line height determines the even space around the text
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}